.ViewDeckModal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: auto;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    background-color: #D3D3D3;
    height: 700px;
    list-style: none;
}

.ViewDeckModal p {
  color: black;
  font-size: 22px;
}

.ModalInfo {
    overflow-y: scroll;
    max-height: 600px;
}

.ButtonBar {
  position: absolute;
  bottom: 0;
}

@media (min-width: 600px) {
    .ViewDeckModal {
        width: 800px;
        left: calc(50% - 375px);
        top: calc(50% - 375px);
        overflow-y: scroll;
    }
}
