.Success {
  background-color: #00d647;
  color: white;
  width: 200px;
  height: 55px;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid #00d647;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Success:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #00af0e;
  cursor: pointer;
}

.Submit {
  background-color: #54d1ff;
  color: white;
  width: 200px;
  height: 55px;
  margin: 10px 10px 0 0;
  border-radius: 3px;
  display: inline;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid #54d1ff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  float: right;
}

.Submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #3fb1db;
  cursor: pointer;
}

.Danger {
  background-color: #d80000;
  color: white;
  width: 200px;
  height: 55px;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid ##d80000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Danger:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #af0000;
  cursor: pointer;
}
