.ResultList {
    list-style: none;
}
  
.ResultListItem {
    display: inline-block;
    margin: auto 23px;
    float: inherit;
}

.SearchForm {
    display: inline-block;
}
  
.SearchByForm {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}
  
.SearchByForm form {
    display: block;
    margin-bottom: 10px;
}
  
.SearchByFormLabel {
    margin-right: 7px;
}

.DropArea {
    background-color: rgba(0, 0, 0, 0.6);
    width: 19%;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 60px;
    border: 2px solid black;
}
  
.DeckDisplayList {
    list-style: none;
    width: 100%;
    margin: -1px 0 0 -40px;
}

.SearchArea input {
    margin-left: 5px;
    float: left;
}