.ResultList {
  list-style: none;
}

.ResultListItem {
  display: inline-block;
  margin: auto 23px;
  float: inherit;
}

.SearchForm {
  display: inline-block;
}

.SearchByForm {
  display: inline-block;
  margin-left: 15px;
}

.SearchByFormLabel {
  margin-right: 7px;
}
